.optionsBar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #2a2a2a;
}

.option {
  padding: 0.5rem 1rem;
  color: #666;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 4px;
}

.option:hover {
  color: #e2e2e2;
  background-color: #333;
}

.active {
  color: #7aff7a;
  background-color: #333;
}