.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  outline: none;
  gap: 2rem;
  padding: 2rem;
  height: calc(100vh - 120px);
}

.snippet {
  font-size: 24px;
  margin-bottom: 20px;
  white-space: pre-wrap;
  border: 1px solid #6272a4;
  padding: 10px;
  width: 80%;
  max-width: 800px;
  background-color: #44475a;
  color: #f8f8f2;
}

.correct {
  color: #7aff7a;
}

.incorrect {
  color: #ff5f5f;
  text-decoration: underline;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #6272a4;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #44475a;
}

.clock {
  width: 100px;
  height: 100px;
  border: 5px solid #6272a4;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
}

.hand {
  width: 50%;
  height: 2px;
  background-color: #50fa7b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left;
}

.header {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  color: #666;
}

.textDisplay {
  width: 100%;
  max-width: 800px;
  font-size: 1.5rem;
  line-height: 2.5;
  letter-spacing: 0.05em;
  outline: none;
  text-align: left;
}

.footer {
  color: #666;
  font-size: 0.9rem;
}

.hint {
  opacity: 0.5;
}